/* Large viewport global styles */
#main-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 70em;
  margin: auto;
  box-sizing: border-box;
  flex-direction: row;
  width: 100%;
}

/* Large viewport logo-attribution popover styles */
#logo-attribution {
  margin: 2.1% auto;

/* Large viewport header-specific styles */
header {
  margin-bottom: 0.07em;
  border-bottom: 1px solid #778899;
}

#header-container {
  border: none;
}

#header-content {
  display: flex;
  flex-direction: row;
}

#header-text {
  padding: 0.7em 0.7em 1em 0.4em;
  font-family: "Lato";
  font-size: 1.3em;
}

#logo {
  max-width: 3.7em;
  max-height: 3.7em;
  padding: 0.2em 0 0 0.25em;
}

/* Large viewport hero section styles */
.hero {
  width: 100%;
}

#hero-container {
  height: 35em;
  background-position: center 60%;
}

#hero-text {
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 1.4em;
  padding-top: 1.4em;
  letter-spacing: 0.3em;
}

/* Large viewport projects section styles */
.projects {
  width: 82%;
  float: left;
  padding-bottom: 5em;
}

#projects-container {
  margin: 3em 5em 0 0;
  padding: 0;
}

#projects-headline {
  font-size: 1.9em;
  margin: 0;
}

#project-box-container {
  margin-top: 2em;
}

.project-box {
  margin: 0.25em;
  padding: 0.5em 0.25em 0.25em 0.25em;
  height: 22.25em;
}

.project-box-headline {
  padding: 0.3em 0 0.8em 0;
  margin: 0;
}

/* Large viewport aside syles */
aside {
  width: 15%;
  float: right;
  border-top: none;
  border-left: 0.05em solid;
  margin: 3em 0 3em 0;
  padding-bottom: 5em;
}

#aside-container {
  margin: 0;
  padding: 0.5em 0 0 1.5em;
}

.aside-headline {
  font-size: 1.1em;
  text-align: center;
  padding: 0;
  margin: 0;
}

#accomplish-award-list {
  padding: 0.3em 0 0 0.5em;
  margin: 0;
}

.accomplish-award-li {
  margin: 0.7em 0 0 0;
}
