/* Global styles */
body {
  background: #f7f7f7;
  font-family:"Lato", Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
}

.container {
  align-items: center;
  max-width: 70em;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.incl-link:hover,
.incl-link:focus,
.incl-popover:hover,
.incl-popover:focus {
  transform: scale(1.05);
  cursor: pointer;
}

/* Popover stylings for ".popover" div and children adapted from the w3schools tutorial "How TO - CSS/JS Modal": https://www.w3schools.com/howto/howto_css_modals.asp */
.popover {
  display: none;
  position: absolute;
  z-index: 40;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 200;
}

.popover-content {
   background-color: #778899;
   background-color: rgba(0, 0, 0, 0.8);
   color: #a0a0a0;
   margin: 25% auto;
   padding: 1em;
   border: 0.5px solid black;
   width: 80%;
   max-width: 55em;
}

#logo-attribution {
  margin: 5% auto;
}

.popover-close {
  float: right;
  font-size: 1.5em;
  color: #fffff1;
  margin: 0;
  padding: 0;
}

.popover-close:hover,
.popover-close:focus {
  color: #778899;
  cursor: pointer;
}

/* Header and Footer styles */
#header-container,
#footer-container {
  flex-direction: row;
  padding: 0.3em;
}

/* Header-specific styles */
header {
  border-bottom: 1px solid #778899;
  background-color: #efefef;
  margin: 0 0 0.05em 0;
}

#header-container {
  margin: auto;
  justify-content: flex-start;
}

#header-text {
  margin: 0 0 0em 0;
  font-size: 1em;
  padding: 0 0 0.4em 0.6em;
  text-align: left;
}

#logo {
  margin: 0;
  max-width: 3.2em;
  max-height: 3.2em;
}

/* Footer-specific styles */
footer {
  background-color: #f1f1f1;
  border-top: .5px solid #778899;
  border-bottom: .5px solid #778899;
}

#footer-container {
  font-size: 0.91em;
  justify-content: center;
}

#copyright,
#email {
  padding: 0 0.2em;
}
/* Hero section styles */
#hero-container {
  background-image: url("../images/iceland-spar.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25em;
  margin: 0;
  position: relative;
}

#hero-text {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 22%;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  color: #fffff1;
  text-align: center;
  letter-spacing: 0.25em;
  padding-bottom: 0.0em;
}

#hero-headline {
  margin: 0;
  padding-top: 0.5em;
}

#hero-image-attribution {
  color: #a0a0a0;
  font-size: 0.55em;
  letter-spacing: normal;
  position: absolute;
  bottom: 0;
  float: right;
  text-align: right;
  padding: 0;
  margin: 0;
  width: 99.5%;
}

/*Projects section styles */
#projects-container {
  margin: 0.75em 0 0.4em 0;
  justify-content: space-around;
}

#project-box-container {
  margin-top: 0.5em;

}
#projects-headline {
  margin: 0;
  padding: 0.2em 0 0 0;
  text-align: center;
}

.project-box {
  margin: 0.5em;
  padding: 1em 1em 1.5em 1em;
  max-width: 17em;
  height: 21em;
  text-align: center;
  border: 0.02px solid #778899;
}

.project-box-headline {
  margin: 0 0 0.5em 0;
}

.project-image {
  max-width: 9em;
  height: 6em;
  margin: auto;
  border: 0.7px solid #778899;
}

.project-description {
  font-weight: bold;
  padding: 0.55em 0 0.35em 0;
  margin: 0;
}

.project-details {
  padding-bottom: 0.35em;
  margin: 0;
}

.skills-lead {
  font-style: oblique;
}

.project-source {
  padding: 0;
  margin: 0;
}

/* Aside styles */
aside {
  border-top: 1px solid #778899;
  margin: 1em 0.7em 1em 0.7em;
  padding: 1em;
}

.aside-headline {
  margin: 0 0 0.5em 0;
  padding: 0;
}

#accomplish-award-list {
  margin: 0 0 0.5em 0.5em;
  padding: 0;
}

.accomplish-award-li {
  margin-bottom: 0.3em;
}

